@page
@model LEPS.Pages.Players.Edit

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Edit Player</title>
</head>
<body>
<div>
<form method="post">
<div class="row">
    <div class="col-md-12">
        <div class="card mb-2">
            <div class="card-header">
                Basic Info
                <input type="submit" value="Save" class="btn btn-primary float-right" />
            </div>
            <div class="card-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Player.Id" />
                <div class="form-row">
                    <div class="form-group col-sm">
                        <label asp-for="Player.FirstName" class="control-label">First Name</label>
                        <input asp-for="Player.FirstName" class="form-control" />
                        <span asp-validation-for="Player.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm">
                        <label asp-for="Player.LastName" class="control-label">Last Name</label>
                        <input asp-for="Player.LastName" class="form-control" />
                        <span asp-validation-for="Player.LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-3">
                        <label asp-for="Player.Email" class="control-label">Email 1</label>
                        <input asp-for="Player.Email" class="form-control" />
                        <span asp-validation-for="Player.Email" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
</div>
</body>
</html>