@page
@using LEPS.Pages.Shared
@model LEPS.Pages.Series.Create

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <form method="post">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Create Series</h5>
                <div>
                    <label for="name">Name</label>
                    <input id="name" name="seriesName"></input>
                </div>
                <div>
                    <label for="name">Description</label>
                    <textarea id="name" name="seriesDesc"></textarea>
                </div>
                
            </div>
        </div>
        <br/>
        <div class="card event-card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Event</h5>
                <div>
                    <i onclick="prependEventCard()" style="float: right;" class="fa-solid fa-plus"></i>
                    <div>
                        <label for="event-name">Event Name</label>
                        <input id="event-name" name="eventName0"/>
                    </div>
                    <div>
                        <label for="event-cost">Entry Fee</label>
                        <input type="number" id="event-cost" name="eventCost0"/>
                    </div>
                    <div>
                        <label for="event-date">Date</label>
                        <input id="event-date" type="datetime-local" name="eventDate0"/>
                    </div>
                </div>
            </div>
        </div>
        <br/> 
        <button type="submit" class="btn btn-primary" asp-page-handler="CreateSeries">Create</button>
    </form>
</div>
</body>

<script>
function prependEventCard(num){
    num =+ 1
    $(`
    <br/>
    <div class="card event-card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Event</h5>
                    <div>
                        <i onclick="prependEventCard(${num})" style="float: right;" class="fa-solid fa-plus"></i>
                        <div>
                            <label for="event-name">Event Name</label>
                            <input id="event-name" name="eventName${num}" />
                        </div>
                        <div>
                            <label for="event-cost">Entry Fee</label>
                            <input id="event-cost" name="eventCost${num}" />
                        </div>
                        <div>
                            <label for="event-date">Date</label>
                            <input id="event-date" type="datetime-local" name="eventDate${num}"/>
                        </div>
                    </div>
                </div>
            </div>    
`).insertAfter($(".event-card").last())
    }
</script>
</html>